<h1>Make a bet for this round</h1>

<p><%= session[:player_name] %> has $<%= session[:money] %></p>

<form action="/bet"   method="post">
	<input type="text" name="bet_amount"/>
	<br/>
	<input type="submit" class="btn"/>
</form>
